.activities {
  display: flex;
  width: 100%;
  height: calc(100vh - (44px + 64px));
  font-size: 15px;
  color: #606060;
}

.activities__left {
  width: 70%;
  margin: 0 auto;
}

.activities__left .header {
  display: flex;
  align-items: center;
  padding: 32px 28px;
}

.activities__left .header .backBtn {
  cursor: pointer;
}

.activities__left .header .allActivities {
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  color: #4A4A4A;
  margin-left: 10px;
}

.activities__left .header .pushPin {
  margin-left: auto;
  cursor: pointer;
}

.activities__left .header .trash {
  margin-left: 23px;
  cursor: pointer;
}

.activities__left .activitiesDescription {
  position: relative;
}

.activities__left .activitiesDescription .container {
  width: 100%;
  height: 77px;
  padding: 17px 43px;
  display: flex;
  align-items: center;
  transition: all .4s;
}

.activities__left .activitiesDescription .container:hover {
  background-color: #FAFAFA;
}

.activities__left .activitiesDescription .container .img img {
  width: 45px;
  height: 45px;
  border-radius: 4px;
}

.activities__left .activitiesDescription .container .text {
  margin-left: 22px;
  font-weight: 400;
  line-height: 18px;
}

.activities__left .activitiesDescription .container .text span {
  font-weight: 700;
}

.activities__left .activitiesDescription .container .time {
  margin-left: auto;
  font-weight: 400;
  font-style: italic;
}

.activities__left .activitiesDescription .container .options {
  margin-left: 43px;
  padding: 5px;
  cursor: pointer;
}

.activities__left .activitiesDescription .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.activities__left .activitiesDescription .dropdown {
  position: absolute;
  right: 50px;
  top: 60px;
  width: 177.37px;
  height: 111.57px;
  background: #FFFFFF;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 16px;
  z-index: 10;
}

.activities__left .activitiesDescription .dropdown > div {
  display: flex;
  align-items: center;
}

.activities__left .activitiesDescription .dropdown > div > svg {
  margin-right: 17px;
}

.activities__right {
  width: 30%;
}

.activities__right .bottom .collaborators .header span:nth-child(2) {
  margin-left: auto;
}
