.activities {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 15px;
  color: #606060;
}

.activities .positionRelative {
  position: relative;
}

.activities .positionStatic {
  position: static;
}

.activities .header {
  display: flex;
  align-items: center;
  padding: 32px 28px;
  width: 100%;
  margin: 0 auto;
}

.activities .header .backBtn {
  cursor: pointer;
}

.activities .header .allActivities {
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  color: #4a4a4a;
  margin-left: 10px;
}

.activities .header .pushPin {
  margin-left: auto;
  cursor: pointer;
}

.activities .header .trash {
  margin-left: 23px;
  cursor: pointer;
}

.activities__left {
  width: 100%;
  margin: 0 auto;
}

.activities__left .activitiesDescription .container {
  width: 100%;
  height: 77px;
  padding: 17px 43px;
  display: flex;
  align-items: center;
  transition: all 0.4s;
}

.activities__left .activitiesDescription .container:hover {
  background-color: #fafafa;
}

.activities__left .activitiesDescription .container .img img {
  width: 45px;
  height: 45px;
  border-radius: 4px;
}

.activities__left .activitiesDescription .container .text {
  margin-left: 22px;
  font-weight: 400;
  line-height: 18px;
  width: 70%;
}

.activities__left .activitiesDescription .container .text span {
  font-weight: 700;
}

.activities__left .activitiesDescription .container .time {
  margin-left: auto;
  font-weight: 400;
  font-style: italic;
}

.activities__left .activitiesDescription .container .options {
  margin-left: 43px;
  padding: 5px;
  cursor: pointer;
}

.activities__left .activitiesDescription .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.activities__left .activitiesDescription .dropdown {
  position: absolute;
  right: 50px;
  top: 60px;
  width: 177.37px;
  height: 111.57px;
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 16px;
  z-index: 10;
}

.activities__left .activitiesDescription .dropdown > div {
  display: flex;
  align-items: center;
}

.activities__left .activitiesDescription .dropdown > div > svg {
  margin-right: 17px;
}

.activities__right {
  width: 30%;
}

.activities__right .bottom .collaborators .header span:nth-child(2) {
  margin-left: auto;
}
