@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


.trash {
    width: 100%;
}
.TrashListDisplay {
    width: 100%;
}

.TrashListDisplay table {
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    border-spacing: 3px;
}

.TrashListDisplay table th {
    font-size: 0.938rem;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
}

.trash-list-data{
    border-radius: 5px;
    background: #FAFAFA;
}

.trash-file div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash-file div img {
    display: block;
    margin-top: 20px;
    height: 50px;
    width: 50px;
}



