body {
  background-color: #282a36;
  color: #3cefff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Jetbrains Mono', 'Courier New', Courier, monospace;
  overflow-x: hidden;
}

.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  margin: 50px auto;
  height: 200px;
  background-color: rgb(200 200 200 / 20%);
  border: 2px dashed;
  border-radius: 12px;
}

#uploadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  padding: 12px 18px;
  border-radius: 4px;
  cursor: pointer;
}

.progress-wrapper {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 300px;
  height: 480px;
  color: #282a36;
  background-color: #3cefff;
  padding: 12px;
  border-radius: 8px;
}

.progress-wrapper h4 {
  border-bottom: 4px solid #000;
  margin: -12px;
  padding: 12px;
}

.file-progress-wrapper {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 300px;
  height: 400px;
  overflow-x: auto;
  background-color: #e8e8e8;
  color: #444;
  padding: 12px;
}

.progress-container {
  margin-bottom: 10px;
}

.progress-bar-container {
  margin-bottom: 6px;
}

.progress-bar,
.progress-bar-container {
  height: 8px;
  border-radius: 4px;
  background-color: #999;;
}

.file-actions {
  text-align: right;
  margin-bottom: 12px
}

.file-actions button {
  position: relative;
  display: none;
  border: none;
  background-color: #1976d2;
  color: #ccc;
  padding: 5px;
  margin-left: 2px;
  line-height: 0;
  border-radius: 50%;
  cursor: pointer;
}

.file-actions button .title {
  position: absolute;
  color: #333;
  bottom: 0;
  left: 50%;
  font-size: 10.5px;
  transform: translate(-50%, 8px);
}

.file-status-container {
  display: flex;
  justify-content: space-between;
}

.file-status-container .file-status {
  padding: 1px 3px;
  border-radius: 2px;
  text-transform: uppercase;
}

.file-status-container .file-status.pending {
  background-color: #ff9800;
  color: #ffecd0;
}

.file-status-container .file-status.uploading {
  background-color: #ff9800;
  color: #ffecd0;
}

.file-status-container .file-status.paused {
  background-color: #ff9800;
  color: #ffecd0;
}

.file-status-container .file-status.completed {
  background-color: #ff9800;
  color: #ffecd0;
}

.file-status-container .file-status.processing {
  background-color: #ff9800;
  color: #ffecd0;
}

.file-status-container .file-status.failed {
  background-color: #ff9800;
  color: #ffecd0;
}

.file-details {
  padding: 8px;
  border: 1px solid;
  border-radius: 4px;
  box-shadow: 0px 1px 5px #555;
}