@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

.TrashApp {
  font-family: "Lato", sans-serif;
}

.borderSpace {
  border-spacing: 0 1.5em;
}
.tableHide {
  empty-cells: show;
}

.light--Green,
.focus__lightGreen:active {
  background-color: #f0fbf8;
}

.durationGray {
  color: #616161;
}

.itemsTrash {
  color: #4a4a4a;
}

/* .lightGrayHover:hover {
  background-color: #fafafa;
} */

.trashModal__cancel {
  border-color: #00b87c;
}

.trashModal__cancel,
.emptyTrash,
.preloader .loading {
  color: #00b87c;
}

.modal__menu {
  background-color: #00b87c;
}

.trashTheading {
  font-size: 0.9375rem;
}

.emptyTrash {
  font-size: 0.8125rem;
}

/* .preloader {
  margin: 100px auto 0;
  width: 66px;
  height: 12px;
} */

.preloader .line {
  width: 1px;
  height: 12px;
  background: #ffb425;
  animation: opacity-1 1000ms infinite ease-in-out;
}

.preloader .line1 {
  animation-delay: 800ms;
}
.preloader .line2 {
  animation-delay: 600ms;
}
.preloader .line3 {
  animation-delay: 400ms;
}
.preloader .line4 {
  animation-delay: 200ms;
}
.preloader .line6 {
  animation-delay: 200ms;
}
.preloader .line7 {
  animation-delay: 400ms;
}
.preloader .line8 {
  animation-delay: 600ms;
}
.preloader .line9 {
  animation-delay: 800ms;
}
.preloader .line10 {
  animation-delay: 800ms;
}
.preloader .line11 {
  animation-delay: 800ms;
}
.preloader .line12 {
  animation-delay: 800ms;
}
.trashList-gridView {
  @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4;
  @apply pt-4;
}

.trashList-gridView_trashItem {
  @apply relative;
  @apply flex flex-row flex-nowrap gap-2;
  @apply cursor-pointer;
  @apply p-2;
  @apply hover:bg-bgLight;
}
.trashList-gridView_trashItem_img {
  @apply flex-shrink-0 w-1/5 p-2 bg-avatar-five rounded-lg;
}

.trashList-gridView_trashItem_desc {
  @apply flex-shrink-0 w-4/5;
  @apply flex flex-col;
}
.trashList-gridView_trashItem_desc_name,
.trashList-gridView_trashItem_desc_date {
  @apply h-1/2;
  @apply flex items-center;
}

.trashList-gridView_trashItem_desc_name {
  @apply font-bold text-sm;
}
.trashList-gridView_trashItem_desc_date {
  @apply font-normal text-xs text-text-navbar;
}

@keyframes opacity-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-2 {
  0% {
    opacity: 1;
    height: 15px;
  }
  50% {
    opacity: 0;
    height: 12px;
  }
  100% {
    opacity: 1;
    height: 15px;
  }
}
