.modal_wrapper {
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
}

.form {
  background-color: #fff;
  height: 15rem;
  border-radius: 9px;
  padding: 3rem 5rem;
  width: 500px;
}
.form label {
  margin-bottom: 1rem;
  display: block;
  font-size: 1.2rem;
}
.form input {
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid rgba(153, 153, 153, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}
.form button {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin: 0.5rem;
}
.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

.btnWrapper button {
  display: flex;
  align-items: center;
}

.btnCreate {
  background: #00b87c;
  color: #fff;
}
.btnCancel {
  border: 1px solid #00b87c;
  color: #00b87c;
}
.spinner {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #fff;
  border-top-color: #00b87c;
  animation: 1s spin linear infinite;
}
.spinnerContainer {
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  margin: 0;
  margin-right: 0.7rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.inputWrapper {
  margin-bottom: 1rem;
}
.inputWrapper p {
  color: red;
  font-size: 14px;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
