.pb-widget {
  display: flex;
  padding: 5px;
  height: 40px;
  width: 100%;
  font-family: "Lato";
}

.pb-widget-r {
  width: 75%;
}

.pb-widget-r h3 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.pb-widget-r h4 {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}

.upload-controls {
  flex-direction: column;
  justify-content: space-between;
  align-items: space-around;
  width: 25%;
}

.file-size {
  font-size: 10px;
  color: #00b87c;
}
