.upload--component {
  position: relative;
  height: 100vh;
  width: 100%;

  button {
    margin: 10px;
    padding: 8px 14px;
    border: 1px solid #cadcf4;
    color: #cadcf4;
    font-size: 12px;
  }

  .btn--dropdown {
    position: absolute;
    top: 8%;
    left: 10%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 233px;
    height: 149px;
    color: #606060;
    // filter: drop-shadow(0 6 0.75rem #A5A5A566);
    // box-shadow: 0 6 20 -5 #A5A5A566;

    & > div {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 5px 10px;

      &:hover {
        background-color: #f0f0f0;
      }
    }

    & span,
    label {
      margin-left: 5px;
    }
  }
  .hide {
    display: none;
  }
  .upload-progress-bar {
    height: 200px;
    width: 250px;

    position: absolute;
    border: 1px solid #f3f3f3;
    bottom: 3%;
    right: 5%;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;

    & > .upload-file-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px 20px;
      padding-bottom: 16px;
      border-bottom: 1px solid #777;
    }
    .upload-cancel {
      padding: 6px 10px;
      font-size: 12px;
      border: 1px solid steelblue;
      width: 30%;
      text-align: center;
      display: block;
    }

    & > progress {
      margin-right: 8px;
    }

    & > progress[value] {
      width: 70%;
      -webkit-appearance: none;
      appearance: none;
    }

    & > progress[value]::-webkit-progress-bar {
      height: 6px;
      border-radius: 10px;
      background-color: #eee;
    }

    & > progress[value]::-webkit-progress-value {
      height: 6px;
      border-radius: 20px;
      background-color: green;
    }
  }
}
