.search {
  display: flex;
  border: 1px solid rgba(226, 213, 213, 0.7 ) ;
  width: 300px;
  float: right;
  margin-right: 70px;
  border-radius: 8px;
  transform: translateX(-50px);
  padding: 10px 20px;
  margin-top: 20px;
}

.search input {
  margin-left: 14px;
  width: 300px;
}

.search input:focus {
  outline: none;
}


.icon {
  width: 30px;
  margin: 1px;
}