@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.main {
    min-height: 100vh;
    white-space: nowrap;
}

.lato {
    font-family: 'Lato', sans-serif;
}

li {
    font-family: 'Lato', sans-serif;
    color: #999999;
    cursor: pointer;
}

li img {
    margin-right: 2%;
}

.pic-image {
    border-radius: 50%;
    background: #ACFFE6;
}

.right {
    top: 5%;
    right: 5%;
    background: #18D24C;
    border-radius: 50%;
}

