
.folderOptions {
    background-color: #fff;
    width: 230px;
    border: 1px solid #F7F7F7;
    border-radius: 4px;
    box-shadow: 0px 6px 20px -5px rgba(165, 165, 165, 0.4);
  
    ul {
  
      li {
        display: flex;
        cursor: pointer;
        align-items: center;
  
        p {
          font-size: 14px;
          line-height: 16.8px;
          color: #606060;
          align-self: center;
        }
  
        img {
          margin-right: 10px;
          width: 18px;
        }
      }
    }
  }
  