/* FILES */
.nav-bar__files {
    justify-content: center;
    align-items: center;
}

.nav__heading {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 15px;
    color: #000000;

    margin-right: 16px;
}

.nav__button {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: capitalize;
    
    padding: 10px 14px;
    
    color: #2F80ED;
    background: #FFFFFF;
    border: 1px solid #2F80ED;
    border-radius: 3px;
}