@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap");

.load-user__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 45, 45, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  z-index: 20;
}

.load-user__modal {
  width: 453px;
  max-width: 80%;
  height: 75vh;
  background: #fff;
  color: #262626;
  overflow-y: scroll;
  z-index: 21;
  scrollbar-width: thin;
  scrollbar-color: rgb(176, 176, 199) transparent;
}

.load-user__modal::-webkit-scrollbar {
  width: 20px;
}

.load-user__modal::-webkit-scrollbar-track {
  width: 20px;
  background-color: transparent;
}

.load-user__modal::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(189, 200, 202);
}

.room_header {
  font-weight: 900;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin: 1rem 1.5rem 0 1.5rem;
}

.room_para {
  font-size: 1rem;
  margin: 0.5rem 1.5rem;
}

.room_header_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.room_notification {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
  width: 85%;
  margin: 0.2rem 1.5rem;
}

.room_notify {
  border: 0.8px solid black;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
}

.load-user__form {
  margin: 1rem 1.5rem;
}

.searchbar {
  font-size: 1rem;
  padding: 0px, 50px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.searchbar:focus {
  outline: none;
}

.load-user__users {
  width: 100%;
}

.load-user__user {
  padding: 0.2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.load-user__user:hover {
  background: #27ae60;
}

.load-user__user:hover * {
  color: #fff;
  fill: #fff;
}

.load-user__user--info {
  display: flex;
  align-items: center;
}

.load-user__user--img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-img {
  height: 2.8rem;
  width: 2.8rem;
}

.load-user__user--details {
  margin: 0 1rem;
}

.stack {
  margin: 0.2rem 0;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1rem;
}

.load-user__user--name {
  font-weight: 400;
  font-size: 1rem;
}

.load-user__no-user {
  text-align: center;
  margin: 2rem 0;
}
