.dropdown {
    /* background-color: black; */
    position: absolute;
	top: 10%;
	right: 10%;
	/* transform: translate(-50%, -50%); */
	width: 40%;
	height: 50%;

	/* background-color: white; */
	padding: 6rem;
	border-radius: 5px;
	box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
	z-index: 10;

	display: flex;
	align-items: center;
	justify-content: center;
}