
.totalSpaceContainer {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 35px;
    background-color: #fff;
    width: 20%;
    min-width: 200px;
}

.totalStorageText {
    font-size: 14px;
    color:#C4C4C4;
    text-align: center;
    margin-top: 22px;
}