    .container {
        position: relative;
        width: 53%;
        height: 680px;
        background: #000000;
        display: flex;
        justify-content: space-between;
        padding: 20px 60px 20px 10px;
    }
    
    .preview {
        width: 100%;
        height: 100%;
        bottom: 49.8%;
        left: 9%;
        background: #C4C4C4;
        border-radius: 10px;
        z-index: 1;
    }
    
    .first {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 55.5%;
    }
    
    .second {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 10px 10px 10px;
        width: 80%;
    }
    
    .imagetobecropped {
        position: relative;
        width: 83%;
        height: 467px;
        background: rgba(0, 0, 0, 0.31);
        border-radius: 10px;
        border: 10px solid #161616;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-left: 70px;
    }
    
    .cropper-canvas {
        flex: 1;
        width: 500px;
        height: 100%;
        resize: contain;
    }
    
    .cropbg {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cropbtn {
        width: 50%;
        height: 42px;
        margin-left: 63px;
        margin-top: 64px;
        background: rgba(48, 46, 46, 0.99);
        border-radius: 5px;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
        color: #fff;
    }
    
    .cropbtn:active {
        background-color: #FFFFFF;
        color: Black;
        animation: ease-in-out .3s;
    }
    
    .cropbtn:hover {
        background-color: #FFFFFF;
        color: Black;
        animation: ease-in-out .3s;
    }
    
    .rotatebtn {
        width: 50%;
        height: 42px;
        margin-left: 63px;
        margin-top: 41px;
        background: rgba(48, 46, 46, 0.99);
        border-radius: 5px;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
        color: #FFFFFF;
    }
    
    .rotatebtn:active {
        animation: shake .3s;
    }
    
    @keyframes shake {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }
        10% {
            transform: translate(-1px, -2px) rotate(-1deg);
        }
    }
    
    .savebtn {
        position: relative;
        width: 30%;
        height: 48px;
        background: #00B87C;
        border-radius: 3px;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        margin-left: 66%;
    }
    
    .image {
        position: relative;
        width: 286px;
        height: 445px;
        left: 288px;
        top: 49px;
        background: rgba(0, 0, 0, 0.31);
        border-radius: 10px;
        border: 4px solid #161616;
        width: 506px;
        height: 445px;
    }
    
    img .image {
        flex: 1;
        width: 150%;
        height: 100%;
        resize: contain;
    }
    
    .previewcontainer {
        z-index: 0;
        width: 62%;
        bottom: 49.8%;
        margin-left: 21%;
        margin-top: 18.6%;
        height: 258px;
        text-align: center;
        color: #C4C4C4;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 19px;
    }
    
    .crop {
        background-color: blue;
        border-radius: 10px;
        color: white;
        padding: 10px;
    }
    
    .close {
        position: absolute;
        left: 80%;
        bottom: 80%;
        color: white;
        background-color: white;
        z-index: 1;
    }
    
    .cancel {
        width: 48px;
        height: 19px;
        margin-left: 10%;
        margin-top: 77px;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 19px;
        color: #C4C4C4;
    }
    
    .text {
        z-index: 10;
        color: white;
        position: absolute;
        top: 20%;
        left: 14%;
        width: 17%;
        text-align: center;
        z-index: 0;
    }
    
    @media screen and (max-width:1200px) {
        .container {
            width: 320px;
            top: 60px;
            flex-direction: column-reverse;
            height: 70%;
        }
        .preview {
            display: none;
        }
        .previewcontainer {
            display: none;
        }
        .cancel {
            display: none;
        }
        .first {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 20%;
            margin-left: 10%
        }
        .second {
            width: 100%;
            margin-left: 10%;
            height: 60%;
        }
        .cropbtn {
            margin: 0;
            padding: 1px;
            width: 100px;
            font-size: 15px;
        }
        .rotatebtn {
            margin: 0;
            padding: 1px;
            width: 100px;
            font-size: 15px;
        }
        .imagetobecropped {
            width: 100%;
            margin: 0;
            height: 100%;
        }
        .savebtn {
            display: none;
        }
        .close {
            left: 17%;
            padding: 0;
            bottom: 70%;
            background-color: transparent;
        }
        .text {
            display: none;
        }
    }