
.recentlyViewedImg {
    width: 100%;
    padding: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}

.left span {
    margin-left: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}


.right {
    display: flex;
    align-items: center;
}