#recently-viewed-header {
  width: 147px;
  height: 24px;

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

#image-name {
  width: 56px;
  height: 22px;

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  height: 22px;
  width: 56px;
  left: 329.421875px;
  top: 406.37890625px;
}

#image-date {
  width: 123px;
  height: 17px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #999999;
}

#video-name {
  width: 55px;
  height: 22px;

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

#video-date {
  width: 123px;
  height: 17px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #999999;
}

#document-name {
  width: 92px;
  height: 22px;

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #4a4a4a;
}

#document-date {
  width: 123px;
  height: 17px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #999999;
}

#compressed-name {
  width: 99px;
  height: 22px;

  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #4a4a4a;
}

#compressed-date {
  width: 123px;
  height: 17px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #999999;
}
