.recentlyViewed {
    font-size: 18px;
    width: 100%;
    padding: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}

.left span {
    margin-left: 30px;
    font-weight: bold;
    line-height: 22px;
}


.right {
    display: flex;
    align-items: center;
}

.body {
    /* width: 80%; */
    margin: 32px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    /* height: 56px; */
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    box-shadow: 0px 18px 30px -5px rgba(255, 211, 182, 0.2);
    border-radius: 6px;
    margin-right: 15px;
}

.fileDetails {

}

.fileName {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #4A4A4A;
}

.timeStamp {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #999999;
}