#headerText {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 4rem 5rem 2rem;
  color: #4a4a4a;

}
.mainContainer {
  background-color: #fff;
  width: 100vw;
}
.container {
  width: 100vw;
  display: flex;
  transform: translateX(5rem);
}

.con {
  width: 300px;
  margin-bottom: 2rem;
}

.con .icon {
  transform: translateX(-1.6rem);
  width: 300px;
  /* display: block !important; */
}

.name {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #4a4a4a;
  margin-bottom: .5rem;

}

.date {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #999999;
}
